@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --petrol-green: #008b64;
  --white: #fff;
  --navy-blue: #14305b;
  --orange: #ff5c11;
  --gray: #6b7280;
  --red: #ff7976;

  --heading-font: Montserrat, sans-serif;
  --body-font: Inter, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

h2 {
  font-size: 1.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  width: 100%;
  margin: 0 auto;
}
