@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --petrol-green: #008b64;
  --white: #fff;
  --navy-blue: #14305b;
  --orange: #ff5c11;
  --gray: #6b7280;

  --heading-font: Montserrat;
  --body-font: Inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
p,
span,
li {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-image: linear-gradient(
    to right,
    var(--navy-blue),
    var(--petrol-green)
  );
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.header__img {
  width: 215px;
  height: 65px;
}

.navbar__icon-open {
  stroke: #fff;
  object-fit: contain;
  width: 3rem;
  cursor: pointer;
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.menu__link {
  color: #fff;
  text-decoration: none;
}

@media screen and (width <= 768px) {
  .navbar__icon-open {
    display: block;
  }
  .navbar div {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 3rem;
    background-color: #000000;
    position: absolute;
    left: 50px;
  }
}
